*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: hsl(228, 45%, 44%);
    background-image: url(images/bg-desktop.svg);
    width: 1350px;
    font-size: 11px;
    text-align: center;
}

.flex{
    display: flex;
}

.flexDirection{
    flex-direction: row;
}

.container{
    max-width: 1200px;
    margin: auto 0px;
    
}

.logo{
    margin: 20px;
}

.mockups{
    margin-left: 20px;
    flex: 1;
}

.titulo{
    flex: 1;
    color: white;
    font-size: 3.6em;
    float: left;
    margin-top: 50px;
    padding: 5px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    margin-left: 20px;
    line-height: 1.3;

}

.texto{
    flex: 1;
    font-size: 1.4em;
    float: left;
    padding: 5px;
    text-align: justify;
    margin-top: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 20px;
    line-height: 1.3;


}

.botao{
    flex: 1;
    padding: 5px;
    float: left;
    margin-top: 20px;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    box-shadow: 3px 3px 5px black;
    border: none;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    color:hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
}

.sociais{
    flex: 1;
    margin-top: 215px;
    float: left;
    margin-left: 170px;
}

.icones{
    padding: 5px;
    width: 20px;
}